/* Search bar CSS */
.sb-container {
  background-color: inherit;
}

.sb-container .input-block {
  flex-grow: 12;
  /* If my eyes doesn't betray me, here we are using different font than usual */
  font-family: sans-serif;
}
.sb-container .button-block {
  flex-grow: 1;
}
.sb-container .sb-element {
  margin: 7px;
  background-color: white;
  border-radius: 13px;
  border: 3px black solid;
  padding: 10px 20px;
  /* width: 100%; */
  width: -webkit-fill-available;
  font-weight: bold;
  font-stretch: condensed;
}
